.DS_Store
.idea
.env
.env.secrets
tmp
result
node_modules
bin
*.iml
Generated
dist
dist-newstyle
*.dyn_hi
*.dyn_o
*.hi
*.o
build
gen
del
static/prod.*
Config/client_session_key.aes
/cli
/data
/migrate
/openapi.json

# Ignore locally checked out IHP version at repo root
/IHP

# devenv.sh
.devenv*
devenv.local.nix
.direnv
.data
data/repositories
/sandbox
compile_logs.txt
IaC/scaleway/.terraform/
ms-playwright
test-results
rgh/gen
